<!DOCTYPE html>
<html>
  <head>
    <!-- meta tage for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS normalize - to be same across all browsers -->
    <link rel="stylesheet" href="styles/normalize.css">
    <!-- Gridlex - adding grids -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.1/gridlex.min.css">
    <!-- Fonts from Google - CHOOSE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT|Oswald:700" rel="stylesheet">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/style.css">
    <!-- Link to pull icons -->
    <script src="https://use.fontawesome.com/1199651437.js"></script>
  </head>
  <body>

<!-- HEADER -->
    <header>
      <nav class="grid-spaceBetween">
        <div class="col-2">
          <a href="index.html"><img src="images/logo.png" alt="my logo"></a>
        </div>
        <div class="col-5 navLinks">
          <a href="index.html">home</a>
          <a href="about.html">about</a>
          <a href="services.html">services</a>
          <a href="http://birdwinks.com" target="_blank">blog</a>
          <a href="getstarted.html" class="getStarted">GET STARTED</a>
        </div>
      </nav>
    </header>


{{content}}


<!-- FOOTER -->
    <footer>
      <p>christinawinkler.com © Copyright 2017</p>
    </footer>
  <!-- add JavaScript & jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/scripts.js"></script>
  </body>
</html>
