/*GENERAL*/
* {
  box-sizing: border-box;
  border:1px solid black;
}
body {
  font-family: 'Old Standard TT', serif;
  color: #594448;
  background-color: #c9e7f0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  color: #594448;
}
a {
  text-decoration: none;
  color: #594448;
}
i {
  color: #69b4d4;
}
i:hover {
  color: #b5523b;
}
.getStarted {
  background-color: #b5523b;
  color: #c9e7f0;
}
.getStarted:hover {
  background-color: #69b4d4;
  color: #b5523b;
}

/*NAVIGATION*/
nav {
  position: fixed;
  z-index: 999;
  width: 100%;
}
header nav {
  height:40px;
  background-color: #69b4d4;
}
nav img{
  max-width: 18%;
}
.navLinks {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

/*HELLO*/
.hello {
  height: 100vh;
}
.helloContent {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 2%;
}
.hello h1 {
  font-size: 60px;
}
.hello p {
  font-size: 20px;
}
.helloContent i {
  font-size: 30px;
}
.christina {
  max-width: 100%;
  margin-top: 5%;
}
nav.socialMedia {
  position:static;
}
nav.socialMedia a {
  margin: 2%;
}
.helloButton {
  padding: 2%;
}
.helloButton .getStarted {
  padding: 10%;
}
.scroll {
  font-size: 50px;
  text-align: center;
  margin-top: 5%;
}

/*INFO*/
.info {
  height: 100vh;
  padding-top: 2%;
}
.infoHeading {
  background-color: #b5523b;
  padding-bottom: 5%;
}
.infoHeading h2 {
  color: #c9e7f0;
}

/*TESTIMONIALS*/
.testimonials {
  background-color: #69b4d4;
  color: #c9e7f0;
  height: 93vh;
}
.testimonials i {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #c9e7f0;
  font-size: 80px;
}
.testimonialsButton {
  text-align: center;
}

/*ABOUT*/
.about {
  background-image: url("../images/aboutMe.jpg");
  padding-top: 2%;
  max-width: 100%;
  height: 100vh;
}

/*SERVICES*/
.services {
  padding-top: 2%;
  height: 93vh;
}

/*GET STARTED*/
.contact {
  padding-top: 2%;
  height: 93vh;
}

/*FOOTER*/
footer {
  text-align: center;
}
